body {
  height: 100vh;
}

a, a:hover {
  color: #333;
  text-decoration: none ! important;
}

.done__card {
  margin: 15px 0px !important;  
  /* mt-2 mb-4 */
}

.recipe__image {
  object-fit: cover;
}

.recipe__category {
  color: rgb(109, 103, 103);
  max-width: 80%;
}

.recipe__name {
  font-size: 1.4rem;
}

.recipe__tag {
  width: min-content;
  margin-bottom: 5px;
}

.btn__share {
  top: 0.5rem;
  right: 0.5rem;
}

.bg__color-theme {
  background-color: rgb(245, 164, 97);
}

.navbar__bg {
  background-color: rgb(245, 164, 97);
  padding: 0 ! important;
}

.btn__logout {
  background-color: rgb(236, 97, 97) !important;
  color: white !important;
  font-weight: bolder !important;
}

.btn-start-recipe {
  background-color: rgb(88, 199, 24) !important;
  font-weight: bold !important;
  color: whitesmoke !important;
  font-size: 1.25rem !important;
  text-shadow: 0 0 2px rgb(0, 0, 0) !important;
}

/* .btn-done-recipe {
  
} */

.button__category {
  background-color: transparent;
  border: 2px solid rgb(245, 164, 97) ! important;
  color: rgb(245, 164, 97) ! important;
  font-weight: bolder;
  margin: 5px 0;
}
