body {
  height: 100vh;
}

a, a:hover {
  color: #333;
  text-decoration: none ! important;
}

.navbar__bg {
  background-color: rgb(245, 164, 97);
  padding: 0 ! important;
}

.button__category {
  background-color: transparent;
  border: 2px solid rgb(245, 164, 97) ! important;
  color: rgb(245, 164, 97) ! important;
  font-weight: bolder;
  margin: 5px 0;
}
