body {
  height: 100vh;
}

body a, body a:hover {
  color: #333;
  text-decoration: none;
}

body .done__card {
  margin: 15px 1px;
}

.recipe__image {
  object-fit: cover;
}

.recipe__category {
  color: rgb(109, 103, 103);
  max-width: 80%;
}

.recipe__name {
  font-size: 1.4rem;
}

.recipe__tag {
  margin-bottom: 5px;
  width: min-content;
}

.btn__share {
  right: 0.5rem;
  top: 0.5rem;
}

.bg__color-theme {
  background-color: rgb(245, 164, 97);
}

.bg__recipe-details :nth-child( odd ) {
  background-color: rgb(241, 238, 236);
}

body .ingredient__checked {
  text-decoration: line-through;
}

body .navbar__bg {
  background-color: rgb(245, 164, 97);
  padding: 0;
}

body .btn__logout {
  background-color: rgb(236, 97, 97);
  color: white;
  font-weight: 900;
}

body .btn-start-recipe {
  background-color: rgb(88, 199, 24);
  color: whitesmoke;
  font-size: 1.25rem;
  font-weight: 900;
  text-shadow: 0 0 2px black;
}

body .button__category {
  background-color: transparent;
  border: 2px solid rgb(245, 164, 97);
  color: rgb(245, 164, 97);
  font-weight: 900;
  margin: 5px 0;
}
